@charset "UTF-8";

/* Sempre lembrando aqui, * = configurações globais do CSS */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #6A736F, #B0B6BA);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #313b2fc0;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FFD639;
    text-align: center;
    text-shadow: 1px 1px 2px #756319b9;
}

h2 {
    color: #CBCFD1;
}

p {
    text-align: justify;
}